:root {
    --black: #252932;
    --dark: #191C21;
    --blue: #195962b0;
    --pink: #f56e6ca7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.container {
    max-width: 1280px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}



.container h2 {
    font-size: 55px;
    font-family: 'Nunito Sans', sans-serif;
}

@media only screen and (max-width: 1280px) {
    .container h2 {
        margin-left: 50px;
    }
}

/* Nav Bar */
nav {
    width: 100%;
    background-color: var(--dark);
    position: fixed;
    padding: 24px 0;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 12px;
    font-size: 24px;
    left: 0%;
    padding: 0 16px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Header Banner */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 100vh;
    text-align: center;
    color: white;
    font-size: 28px;
    background: linear-gradient(60deg, var(--blue), var(--pink), var(--blue));
    background-size: 600% 600%;
    animation: gradient 24s ease infinite;
}



@keyframes gradient {
    0% {
        background-position: 0% 70%
    }

    50% {
        background-position: 100% 31%
    }

    100% {
        background-position: 0% 70%
    }
}

/* BG Fade */
.bg1,
.bg2,
.bg3 {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    background-position: top;
    opacity: 100;
    transition: opacity linear 5s;
}

.bg1 {
    background-image: url("https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}

.bg2 {
    background-image: url("https://cdn.discordapp.com/attachments/474030884207722496/1097280282060656782/DSC_6938.JPG");
    animation: fade 30s 10s linear infinite;
}

.bg3 {
    background-image: url("https://cdn.discordapp.com/attachments/217457291891310602/1097338878886695032/Portrait.jpg");
    animation: fade 30s 0s linear infinite;
}

@keyframes fade {
    0% {
        opacity: 100;
    }

    27% {
        opacity: 100;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    94% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }

}

/* Wave Animation */

.wave {
    display: inline-block;
    animation: rotate 5s ease-in infinite;
    transform: rotate(60deg);
}

@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(60deg);
    }

    40% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(60deg);
    }

    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}



/* Revolving Words */

.word_container {
    position: relative;
    left: 24px;
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.word_list {
    list-style: none;
    font-style: italic;
    margin-left: 6px;
    text-align: left;
    overflow: hidden;
    /* border: red solid 1px; */
    height: 48px;
    width: 250px;
}

.word_list li {
    animation: revolve 12s ease-out infinite;
    margin-bottom: 4px;
    color: rgb(0, 255, 225);



}

@keyframes revolve {
    0% {
        transform: translateY(0)
    }

    18% {
        transform: translateY(0)
    }

    22% {
        transform: translateY(-140%);
    }

    25% {
        transform: translateY(-100%);
    }

    30% {
        transform: translateY(-110%);
    }

    48% {
        transform: translateY(-110%);
    }

    52% {
        transform: translateY(-250%);
    }

    55% {
        transform: translateY(-210%);
    }

    60% {
        transform: translateY(-218%);
    }

    78% {
        transform: translateY(-218%);
    }

    90% {
        transform: translateY(50%);
    }

    95% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(0);
    }








}

/* Projects */

#projects {
    height: fit-content;
    background-color: #23254C;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
}





.projects h2 {
    position: relative;
    top: 10%;
    text-align: left;
    border-bottom: white solid 4px;
    width: 60%;
}


.project_grid {
    margin: auto;
    display: flex;
    gap: 10px;
    height: 100%;
    width: 95vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project {
    overflow: hidden;
    max-width: 600px;
}

.project img {
    width: 100%;
    margin-bottom: -4px;
}

.project a {
    text-decoration: none;
    color: white;
    position: relative;
}


.project_title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: 16px;
    transform: translateY(100%);
    transition: transform 1s ease;
}

.project a:hover .project_title {
    transform: translateY(0%);
}


/* 


/* Skills */
#skills {
    background-color: #23254C;
}

#skills h2 {
    color: white;
    position: relative;
    top: 10%;
    text-align: left;
    border-bottom: white solid 4px;
    margin-bottom: 40px;
    width: 60%;
}

.skills_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;

}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 4px;
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Skill Styling */
.skills_grid .skill:nth-of-type(1) i {
    color: white;
}

.skill:nth-of-type(1) {
    background-color: #e44d26;
    border-color: #ffbf00;
    color: white;
}

.skills_grid .skill:nth-of-type(2) i {
    color: #4285F4;
}

.skill:nth-of-type(2) {
    border-color: #4285F4;
    background-color: white;
}

.skill:nth-of-type(3) {
    border-color: #f0db4f;
    background-color: #323330;
    color: white;
}

.skills_grid .skill:nth-of-type(3) i {
    color: #f0db4f;
}

.skill:nth-of-type(4) {
    border-color: #40D0FB;
    background-color: #18152E;
    color: white;
}

.skills_grid .skill:nth-of-type(4) i {
    color: #40D0FB;
}


.skill:nth-of-type(5) {
    border-color: #f8a829;
    background-color: #3c240c;
    color: white;
}

.skills_grid .skill:nth-of-type(5) i {
    color: #f8a829;
}


.skill:nth-of-type(6) {
    border-color: #cf96fd;
    background-color: #393665;
    color: white;
}

.skills_grid .skill:nth-of-type(6) i {
    color: #cf96fd;
}

.skill:nth-of-type(7) {
    border-color: #58427c;
    background-color: white;
}

.skills_grid .skill:nth-of-type(7) i {
    color: #58427c;
}

.skill:nth-of-type(8) {
    border-color: #61dbfb;
    background-color: white;
}

.skills_grid .skill:nth-of-type(8) i {
    color: #61dbfb;
}

.skill:nth-of-type(9) {
    border-color: rgb(121, 121, 121);
    background-color: rgb(39, 39, 39);
    color: white;
}

.skills_grid .skill:nth-of-type(9) i {
    color: white;
}

.skill:nth-of-type(10) {
    border-color: #00758f;
    background-color: rgb(39, 39, 39);
    color: white;
}

.skills_grid .skill:nth-of-type(10) i {
    color: #f29111;
}

.skill .icon {
    font-size: 60px;
}

.skill_title {
    margin-top: 8px;
}

/* Contact */




.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--dark);
    text-align: center;
    width: 100%;
    color: white;
}

.contact_container h2 {
    font-size: 50px;
    margin-bottom: 12px;
}

.contact_container .italics {
    margin-bottom: 20px;
    font-style: italic;

}

.contact {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    max-width: 700px;
}

.contact li {
    display: flex;
    align-items: center;
    font-size: 20px;
    vertical-align: middle;
}

.contact i {
    font-size: 30px;
    margin-right: 8px;
}

.contact a {
    color: white;
    text-decoration: none;
    padding: 8px;
    position: relative;
    top: 0;
    transition: top 0.5s ease 0s;
}

.contact a:hover {
    top: 10px;
}

/* Animation */
.dot1,
.dot2,
.dot3 {
    position: relative;
}

.dot1 {
    margin-left: 2px;
    animation: dot 4s ease-in-out 1s infinite;
}

.dot2 {
    animation: dot 4s ease-in-out 2s infinite;
}

.dot3 {
    animation: dot 4s ease-in-out 3s infinite;
}

@keyframes dot {
    0% {
        bottom: 0px;
    }

    10% {
        bottom: 10px;
    }

    30% {
        bottom: 0px;
    }

    50% {
        bottom: 0px;
    }

    75% {
        bottom: 0px;
    }

    100% {
        bottom: 0px;
    }
}



footer {
    height: 10vh;
    position: absolute;
    width: 100%;
    border-top: 2px red solid;
    color: white;
    background-color: #323330;
}