:root{
    --purple1:#25064C;
    --purple2:#36175E;
    --purple3:#553285;
    --purple4:#7B52AB;
    --purple5:#9768D1;
    --blue1:#456F74;
    --orange1:#EB5937;
    --black:#403D3C;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container{
    max-width:1280px;
    text-align: center;
    margin:auto;
}

.container h2{
    font-size:40px;
    padding-top:20px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none ;
}

/* Nav Bar */
nav{
    width:100%;
    background-color: var(--purple1);
    position: fixed;
    padding:24px 0;
}
nav ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    gap:12px;
    font-size:24px;
    left:0%;
    padding:0 16px;
}

nav a{
    color:white;
}

/* Header Banner */
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:8px;
    height:100vh;
    background:linear-gradient(62deg,var(--purple4),var(--purple2));
    text-align: center;
    color:white;
    font-size:24px;
}



/* Projects */

#projects{
    height:fit-content;
    background-color:var(--orange1);
    width:100%;
}


.project_grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    width:100%;
}


.project{
    margin:24px;
    border:black solid 4px;
}
.project img{
    width:100%;
}

.project a{
    text-decoration: none;
    height:100%;
}
.project_title{
    color:white;
    font-size:24px;
    padding:24px 0;
    background-color:var(--black);
    height:fit-content;
}

/* Skills */
.skills_grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width:100%;
}
.skill{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:solid black 4px;
    margin:16px;
    padding-top:16px;
    padding-bottom:16px;;
}

/* Skill Styling */
.skills_grid .skill:nth-of-type(1) i{
    color:white;
}
.skill:nth-of-type(1){
    background-color: #e44d26;
    border-color:#ffbf00;
    color:white;
}

.skills_grid .skill:nth-of-type(2) i{
    color:#4285F4;
}
.skill:nth-of-type(2){
    border-color:#4285F4;
}

.skill:nth-of-type(3){
    border-color:#f0db4f;
    background-color: #323330;
    color:white;
}

.skills_grid .skill:nth-of-type(3) i{
    color:#f0db4f;
}

.skill:nth-of-type(4){
    border-color:#40D0FB;
    background-color:#18152E;
    color:white;
}

.skills_grid .skill:nth-of-type(4) i{
    color:#40D0FB;
}


.skill:nth-of-type(5){
    border-color: #f8a829;
    background-color:  #3c240c ;
    color:white;
}

.skills_grid .skill:nth-of-type(5) i{
    color: #f8a829 ;
}


.skill:nth-of-type(6){
    border-color: #cf96fd ;
    background-color: #393665;
    color:white;
}

.skills_grid .skill:nth-of-type(6) i{
    color: #cf96fd ;
}

.skill:nth-of-type(7){
    border-color:#58427c;
}

.skills_grid .skill:nth-of-type(7) i{
    color:#58427c;
}

.skill:nth-of-type(8){
    border-color:#61dbfb;
}

.skills_grid .skill:nth-of-type(8) i{
    color:#61dbfb;
}

.skill:nth-of-type(9){
    border-color:rgb(121, 121, 121);
    background-color: rgb(39, 39, 39);
    color:white;
}

.skills_grid .skill:nth-of-type(9) i{
    color:white;
}
.icon{
    font-size:60px;
}

.skill_title{
    margin-top:8px;
}